html {
    font-family: 'Anton', sans-serif;
}

body {
    color:#ffff;
    background:#0a0a0a;
    box-sizing:border-box;
    margin: 0;
}

/* Create CSS grid */
.grid-container {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: [margin-start] 145px [col-start] repeat(16, 77.5px );
    grid-template-rows: repeat(12, 80px [rows]);  
}

/*
.nav {
    grid-column-start: margin-start;
    height:100px;
    grid-column-end: span col-start 16;
    background:#ffffff07
}  
*/

.name {
    font-size: 6rem;
    grid-column: col-start / span col-start 8;
    grid-row-start: rows 1; 
}

.me {
    grid-row-start: rows 4;
    grid-column-start: col-start 1;
}

a:link {
    color:#ffff;
    text-decoration: none;
}

a:visited {
    color:#ffff;
    text-decoration: none;
}

a:hover {
    color:#ffec42;
    text-decoration: none;
}

.projects {
    grid-row: rows 4 / span rows 1;
    grid-column: 10 / span col-start 10;
    width: 7%;
}

.in-class {
    grid-row: rows 4 / span rows 1;
    grid-column: 12 / span col-start 12;
    width: 7%;
}

ul {
    list-style: none;
    font-size:1.2rem;
}

.projectTitle {
    margin-top:5%;
    font-size:2rem;
    grid-row: rows 3/ span rows 3;
    grid-column: 10 / span col-start 11;
}

.in-classTitle {
    margin-top:5.5%;
    font-size:2rem;
    grid-row: rows 3 / span rows 3;
    grid-column: 12 / span col-start 13;
}

.p1, .p2, .p3, .week3a, .week3b, .week5a, .week6a, .week6b1, week7 {
    margin-bottom: 10%;
}

/* list item hover states */
.p1:hover, .p2:hover, .p3:hover, .week3a:hover, .week3b:hover, .week5a:hover, .week6a:hover, .week6b1:hover, week7:hover {
    color: #ffec42;
}